<style >
    nav {
        display: flex;
        flex-direction: row;
    }
    .navcontainer {
        display: flex;
        align-items: center;
        align-content: stretch;
        background-color: #1b3955;
        border-bottom: 1px solid white;
        width: 100%;
        height: auto;
        list-style-type: none;
    }
    
    .navlinks {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-content: stretch;
        margin-top: 10px;
        margin-left: 100px;
        width: 100%;
        height: auto;
        margin-right: 20px;
    }
    
    nav-logo {
        margin-left: 60px;
    }
    
    .icon {
        margin: 5px;
    }
    
    a:hover {
        color: #148c80;
    }
    
    a {
        color: #c1c7ca;
    }
    
    a:link {
        text-decoration: none;
    }
</style>
<nav>
    <div class="navcontainer">
        <div class="nav-logo">
            <img src="images/logo.png" alt="UX Logo">
            <a href="index.html"></a>
        </div>
        <div class="navlinks">

            <div class="icon">
                <img src="images/home-icon.png" alt="home icon">
                <a href="index.html">Home</a>
            </div>
            <div class="icon">
                <img src="images/deal-icon.png" alt="home icon">
                <a href="index.html">Travel Deals</a>
            </div>
            <div class="icon">
                <img src="images/schedule-icon.png" alt="home icon">
                <a href="index.html">Flight Schedule</a>
            </div>
            <div class="icon">
                <img src="images/login-icon.png" alt="home icon">
                <a href="index.html">Register/login</a>
            </div>
        </div>
    </div>
</nav>
