<style type="text/css">
    .navcontainer {
        display: flex;
        flex-direction: row;
        background-color: #1b3955;
        height: 81px;
        width: 100%;
        border-bottom: 1px solid white;
    }
    
    img {
        height: 81px;
        width: 100%;
        padding-left: 40px;
    }
    
    .navlinks {
        display: flex;
        background-color: orange;
        margin-top: 10px;
        margin-left: 100px;
        flex-direction: row;
        height: 61px;
        width: 50%;
    }
</style>

<div class="navcontainer">
    <div class="pagelogo">
        <img src="/images/logo.png" alt="image of ux Atlantic logo"></img>
    </div>
    <div class="navlinks">
        <div class="link1"></div>
        <div class="link2"></div>
        <div class="link3"></div>
        <div class="link4"></div>
    </div>
</div>
